# Heroes of Pymoli Consumer Data Analysis
- <font color =red> Conclusion 1
- Conclusion 2
- Conclusion 3

In [1]:
import pandas as pd 
filepath = "Resources/purchase_data.csv"
pymoli_df = pd.read_csv(filepath)

pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count
- Display total number of players

In [2]:
player_count = len(pymoli_df["SN"].unique())
playercount = pd.DataFrame({"Total Players": [player_count]})
playercount

   Total Players
0            576

## Purchasing Analysis (Total)
- Run basic calculations to obtain number of unique items, average price, etc.
- Create a summary data frame to hold the results 
- Display the summary data frame
- Optional: give the displayed data cleaner formatting

In [3]:
unique = len(pymoli_df["Item ID"].unique()) 
average = round(pymoli_df["Price"].mean(),2) 
purchase = pymoli_df["Purchase ID"].count() 
revenue = pymoli_df["Price"].sum()

PurchSummary = pd.DataFrame({"Number of Unique Items":[unique],
                             "Average Purchase Price":[average],
                             "Total Number of Purchases":[purchase],
                             "Total Revenue":[revenue]})
#Formatting
PurchSummary["Average Purchase Price"] = PurchSummary["Average Purchase Price"].map("${:.2f}".format)
PurchSummary["Total Revenue"]= PurchSummary["Total Revenue"].map("${:.2f}".format)
PurchSummary

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,$2379.77

## Gender Demographics
- Percentage and Count of Male Players
- Percentage and Count of Female Players
- Percentage and Count of Other / Non-Disclosed

In [4]:
#Create df for unique players
nodupe_players_df = pymoli_df.drop_duplicates(["SN"]) 

#Get total gender count, then rename the column
genderdemo_df = pd.DataFrame(nodupe_players_df["Gender"].value_counts()) 
genderdemo_df = genderdemo_df.rename(columns = {"Gender": "Total Count"}) 

#Adding a column for % of players
genderdemo_df["Percentage of Players"] = round((genderdemo_df["Total Count"] / player_count)*100, 2).map("{:.2f}%".format)
genderdemo_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)
- Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
- Create a summary data frame to hold the results
- Optional: give the displayed data cleaner formatting
- Display the summary data frame

In [5]:
#Purchase count
purchasecount = pymoli_df.groupby("Gender")["Purchase ID"].count()

#Create Dataframe 
purchase_df = pd.DataFrame(purchasecount)
purchase_df = purchase_df.rename(columns={'Purchase ID':"Purchase Count"})

#Calc average purchase price, then add to dataframe
averageprice = pymoli_df.groupby("Gender")["Price"].mean()
purchase_df["Avg Purchase Price"] = averageprice.map("${:.2f}".format)

#Calc total purchase value
totalprice = pymoli_df.groupby("Gender")["Price"].sum()
purchase_df["Total Purchase Value"] = totalprice.map("${:.2f}".format)

#Avg total purchase per person
avgtot = totalprice/nodupe_players_df["Gender"].value_counts()
purchase_df["Avg Total Purchase/Person"] = avgtot.map("${:.2f}".format)

purchase_df

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Total Purchase/Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics
- Establish bins for ages
- Categorize the existing players using the age bins. Hint: use pd.cut()
- Calculate the numbers and percentages by age group
- Create a summary data frame to hold the results
- Optional: round the percentage column to two decimal points
- Display Age Demographics Table

In [6]:
bins = [0,9,14,19,24,29,34,39,100]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
    
pymoli_df['Age Range'] = pd.cut(pymoli_df["Age"], bins, labels= group_names)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [7]:
#Remove dupliate names
nodupe_players_df = pymoli_df.drop_duplicates(["SN"]) 

#Groupby Age Categories
agecount = nodupe_players_df.groupby("Age Range")["SN"].count()
agepercent =(agecount/player_count*100).map("{:.2f}%".format)

agedemo_df = pd.DataFrame({"Total Count": agecount,
                           "Percentage of Players": agepercent})
agedemo_df

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

In [8]:
#Purchase count
count = pymoli_df.groupby("Age Range")["Purchase ID"].count()

#Avg Purchase Price
avgprice = (pymoli_df.groupby("Age Range")["Price"].mean()).map("${:.2f}".format)

#Total Purchase Value
totalpurchase = pymoli_df.groupby("Age Range")["Price"].sum()
totalpurchase2 = totalpurchase.map("${:.2f}".format)

#Average Purchase Total per person
avgtotal = (totalpurchase/agecount).map("${:.2f}".format)

#Put into DataFrame
purchase_age_df = pd.DataFrame({"Purchase Count":count,
                               "Avg Purchase Price":avgprice,
                               "Total Purchase Value":totalpurchase2,
                               "Avg Total Purchase/Person": avgtotal})
purchase_age_df

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Total Purchase/Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

Identify the the top 5 spenders in the game by total purchase value, then list (in a table): 
    - SN
    - Purchase Count
    - Average Purchase Price
    - Total Purchase Value

In [9]:
#Purchase count, avg price, total value
purchcount = pymoli_df.groupby("SN")["Purchase ID"].count()
purchprice = pymoli_df.groupby("SN")["Price"].mean()
totalvalue = (purchcount*purchprice)

#Format
purchprice= purchprice.map("${:.2f}".format)

#Put in Dataframe
toppymoli_df = pd.DataFrame({"Purchase Count": purchcount,
                             "Average Purchase Price": purchprice,
                             "Total Purchase Value": totalvalue})

toppymoli_df = toppymoli_df.sort_values("Total Purchase Value", ascending=False)

toppymoli_df.head()

             Purchase Count Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                  $3.79                 18.96
Idastidru52               4                  $3.86                 15.45
Chamjask73                3                  $4.61                 13.83
Iral74                    4                  $3.40                 13.62
Iskadarya95               3                  $4.37                 13.10

## Most Popular Items
Identify the 5 most popular items by purchase count, then list (in a table):
 - Item ID
 - Item Name
 - Purchase Count
 - Item Price
 - Total Purchase Value

In [81]:
#Calculate purchase count, item price, total value
purchase = pymoli_df.groupby(["Item Name", "Item ID"])

purchasecount = purchase["Item ID"].count()
totalvalue = purchase["Price"].sum()
itemprice = totalvalue/purchasecount

#Formatting
totalvalue=totalvalue.map("${:.2f}".format)
itemprice=itemprice.map("${:.2f}".format)

#Add to Dataframe
item_df = pd.DataFrame({"Purchase Count": purchasecount,
                          "Item Price":itemprice,
                           "Total Purchase Value": totalvalue})
#Sort                         
popular_df = item_df.sort_values('Purchase Count', ascending=False)

popular_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item Name,Item ID,,,
"Oathbreaker, Last Hope of the Breaking Storm",178,12,$4.23,$50.76
"Extraction, Quickblade Of Trembling Hands",108,9,$3.53,$31.77
Nirvana,82,9,$4.90,$44.10
Fiery Glass Crusader,145,9,$4.58,$41.22
"Pursuit, Cudgel of Necromancy",19,8,$1.02,$8.16

## Most Profitable Items
Identify the 5 most profitable items by total purchase value, then list (in a table):
- Item ID
- Item Name
- Purchase Count
- Item Price
- Total Purchase Value

In [79]:
popular_df = item_df.sort_values('Total Purchase Value', ascending=False)

popular_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item Name,Item ID,,,
Stormfury Mace,63,2,$4.99,$9.98
"Chaos, Ender of the End",29,5,$1.98,$9.90
Stormfury Longsword,173,2,$4.93,$9.86
Crucifer,1,3,$3.26,$9.78
"The Void, Vengeance of Dark Magic",38,4,$2.37,$9.48