# Heroes of Pymoli Consumer Data Analysis
- <font color =red> Conclusion 1
- Conclusion 2
- Conclusion 3

In [1]:
import pandas as pd 
filepath = "Resources/purchase_data.csv"
pymoli_df = pd.read_csv(filepath)

pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count
- Display total number of players

In [26]:
player_count = len(pymoli_df["SN"].unique())
playercount = pd.DataFrame({"Total Players": [player_count]})
playercount

   Total Players
0            576

## Purchasing Analysis (Total)
- Run basic calculations to obtain number of unique items, average price, etc.
- Create a summary data frame to hold the results 
- Display the summary data frame
- Optional: give the displayed data cleaner formatting

In [31]:
unique = len(pymoli_df["Item ID"].unique()) 
average = round(pymoli_df["Price"].mean(),2) 
purchase = pymoli_df["Purchase ID"].count() 
revenue = pymoli_df["Price"].sum()

PurchSummary = pd.DataFrame({"Number of Unique Items":[unique],
                             "Average Purchase Price":[average],
                             "Total Number of Purchases":[purchase],
                             "Total Revenue":[revenue]})
#Formatting
PurchSummary["Average Purchase Price"] = PurchSummary["Average Purchase Price"].map("${:.2f}".format)
PurchSummary["Total Revenue"]= PurchSummary["Total Revenue"].map("${:.2f}".format)

PurchSummary

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,$2379.77

## Gender Demographics
- Percentage and Count of Male Players
- Percentage and Count of Female Players
- Percentage and Count of Other / Non-Disclosed

In [23]:
#Create df for unique players
nodupe_players_df = pymoli_df.drop_duplicates(["SN"]) 

#Get total gender count, then rename the column
genderdemo_df = pd.DataFrame(nodupe_players_df["Gender"].value_counts()) 
genderdemo_df = genderdemo_df.rename(columns = {"Gender": "Total Count"}) 

#Adding a column for % of players
genderdemo_df["Percentage of Players"] = round((genderdemo_df["Total Count"] / player_count)*100, 2).map("{:.2f}%".format)
genderdemo_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)
- Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
- Create a summary data frame to hold the results
- Optional: give the displayed data cleaner formatting
- Display the summary data frame

In [15]:
#Purchase count
purchasecount = pymoli_df.groupby("Gender")["Purchase ID"].count()

#Create Dataframe 
purchase_df = pd.DataFrame(purchasecount)
purchase_df = purchase_df.rename(columns={'Purchase ID':"Purchase Count"})

#Calc average purchase price, then add to dataframe
averageprice = pymoli_df.groupby("Gender")["Price"].mean()
purchase_df["Avg Purchase Price"] = round(averageprice, 2).map("${:.2f}".format)

#Calc total purchase value
totalprice = pymoli_df.groupby("Gender")["Price"].sum()
purchase_df["Total Purchase Value"] = round(totalprice, 2).map("${:.2f}".format)

#Avg total purchase per person
avgtot = totalprice/nodupe_players_df["Gender"].value_counts()
purchase_df["Avg Total Purchase/Person"] = round(avgtot, 2).map("${:.2f}".format)

purchase_df

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Total Purchase/Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics
- Establish bins for ages
- Categorize the existing players using the age bins. Hint: use pd.cut()
- Calculate the numbers and percentages by age group
- Create a summary data frame to hold the results
- Optional: round the percentage column to two decimal points
- Display Age Demographics Table

In [11]:
bins = [10,14,19,24,29,34,39,40]
labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
pymoli_df['Age Range'] = pd.cut(pymoli_df["Age"], bins, labels=labels, include_lowest = True)

ValueError: Bin labels must be one fewer than the number of bin edges